{
  "presets": [["next/babel"]],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@settings": "./settings",
          "@services": "./services",
          "@models": "./models",
          "@components": "./components",
          "@libs": "./libs"
        }
      }
    ]
  ]
}
